:root {
    --text: #000000;
    --text-light: #F1EEDC;
    --back: #B3C8CF;
    --middle: #F1EEDC;
    --fore: #610B1C;
    --white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    --text-color: var(--text-light);
    --back: #000000;
}

@font-face {
    font-family: 'Old Standard TT';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../OldStandardTT-Italic.ttf);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--text);
    background-color: var(--back);
}

.baris {
    display: flex;
}

.container {
    width: 65%;
    max-width: 600px;
    min-width: 280px;

    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--white);

    margin-top: 0.5rem;
    padding-top: 1.00rem;
    padding-bottom: 1.25rem;

    border-width: 4px;
    border-color: black;
    border-radius: 1rem;
    border-style: solid;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header li {
    list-style-type: none;
}

header li a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-top: 0.30rem;
}

main .hero {
    width: 90%;
    display: flex;

    margin-left: auto;
    margin-right: auto;
}

main .hero .ucap {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

main .hero .def {
    display: flex;
    flex-direction: column;
    justify-contents: space-around;

    margin-top: 2.5rem;
    margin-left: auto;
}

main .hero h1 {
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4rem;
}

main .hero ol {
    padding-left: 1.5rem;
}

main .aktivitas {
    width: 100%;
}

main .aktivitas h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

main .kontak {
    background-color: var(--fore);
    width: 100%;
    
    color: var(--text-light);

    border-width: 4px;
    border-color: black;
    border-radius: 1rem;
    border-style: solid;

    padding-top: 1.00rem;
    padding-bottom: 2.25rem;
    padding-left: 1.00rem;
    padding-right: 1.00rem;
}

main .kontak h1 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

main .socials {
    display: flex;

    margin-left: 1rem;
    margin-right: 1rem;
}

main .socials ul li {
    list-style-type: none;
}

main .socials .bar {
    border-width: 1px;
    border-color: var(--white);
    border-style: solid;

    margin-right: 1rem;
    margin-left: 1rem;
}
