:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #CD1818;

    --font-semibold: 600;

    --text: var(--white);
    --back: var(--black);
    --fore: var(--red);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--text);
    background-color: var(--back);
}

.container {
    width: 65%;
    max-width: 600px;
    min-width: 280px;

    margin-left: auto;
    margin-right: auto;
}

main {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 65%;
}

main nav {
    margin-top: 1rem;
}

main nav section {
    margin-bottom: 2rem;
}

main nav section h2 {
    margin-bottom: 0.75rem;

    font-size: 1.5rem;
    text-align: center;
}

main h1.title {
    font-weight: var(--font-semibold);
    font-size: 4.5rem;
}

main .links {
    display: flex;
    justify-content: center;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
}

main .links li {
    margin-right: 0.75rem;
}
