*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul, ol, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
