:root {
    --bg-black: #141824;
    --backgr: var(--bg-black)
}

*, *::after,*::before {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--backgr);
}

h1, h2, h3 {
    font-family: 'Gabarito', cursive;
}

.txt-white {
    color: #f6f6f6;
}

.txt-center {
    text-align: center;
}

.bottom-nav {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
}

.container nav ul {
    padding: 0;
    text-decoration: none;
}

.container nav ul li {
    list-style: none;
}

.container a {
    color: inherit;
}

.container nav a {
    text-decoration: none;
}

.bottom-nav a {
    padding: 5px 15px;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: max(24px, 2dvw);
    color: var(--nav-links);
}

.bottom-nav a:hover {
    color: var(--nav-links-hover);
}

.bottom-nav .active{
    text-decoration: underline;
}

.container {
    width: 60%;
    margin: auto;
    max-width: 1280px;
}

.flex {
    display: flex;
}

