:root {
    --nav-links:rgb(255,136,50);
    --nav-links-hover:rgb(235, 197, 73); 
    --id-card: rgb(243, 225, 174);
    --bg-black: rgb(20, 24, 36);
}

body {
    background-color: var(--bg-black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.bottom-nav {
    position: fixed;
    bottom: 20px;
    z-index: 3;
    padding: 16px;
    width: 100%;
    text-align: center;
    background-color: var(--bg-black);
}

.bottom-nav a {
    margin: 0 !important;
    padding: 5px 15px 5px 15px !important;
    text-decoration: none;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 24px;
    color: var(--nav-links);
}

.bottom-nav a:hover {
    color: var(--nav-links-hover);
}

.bottom-nav #active{
    text-decoration: underline;
}

.div-center {
    position: relative;
    top: 4.5rem;
}

.id-card-container {
    background-color: var(--id-card);
    border-radius: 2.4%;
    width: 600px;
    height: 366px;
    transform: rotate(-4deg);
    margin: auto;
}

.id-card-header {
    position: relative;
    top: 16px;
    left: 20px;
}

.id-card-header h2 {
    font-family: 'Merriweather', serif;
}

.id-card-biodata {
    display: flex;
    align-items: flex-start;
}

.id-card-biodata ul {
    list-style-image: none;
    list-style: none;
}

.id-card-photo {
    display: flex;
    align-items: center;
    max-height: 288px;
    max-width: 216px;
}

.id-card-photo img {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 62%;
    box-shadow: 0 0 20px 8px white;
}

#ipb {
    color: inherit;
    text-decoration: none;
}


@media (width < 710px)  {
    .bottom-nav a {
        display: block;
        font-size: 34px;
        width: 100%;
    }

    .id-card-container {
        width: 15.25rem;
        height: 25rem;
    }

    .id-card-header h2 {
        font-size: .6rem;
    }
}

